*{
    margin: 0;
}

.header{
    background-image: url('../images/donation3.jpg');
    background-repeat: no-repeat;
    background-color: brown;
    text-align: center;
    background-size: auto;
    
    
}

.main-title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 65px;
    font-style: bold;
    font-weight: 700;
    padding: 0 100px;
    padding-top: 200px;
    margin-bottom: 20px;

}


.discription{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    size: 18px;
    color: white;
    margin-bottom: 30px;
    
}

.btn{
    width: 160px;
    height: 56px;
    background-color: #FF5959;
    border: none;
    font-size: 20px;
    color: white;
    margin-bottom: 175px;
    border-radius: 5px;

}

.donet-title{
    text-align: center;
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    margin-bottom: 20px;

}


.donet-dis{

    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}

.donet-today{
    font-weight: 800;
    font-size: 35px;
    

}


.amount-itm{

    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    position: absolute;
    padding-left:20%;
    
  
   

}

.tk1{
    border-radius: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    background-color: #FAFAFA;
    padding: 44px 25px;
    color: #707070;
    font-size: 30px;
    text-align: center;

    
}

.tk2{
    border-radius: 5px;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    background-color:rgba(255, 238, 238, 1);
    border: 2px solid rgba(255, 89, 89, 1);
    padding: 44px 25px;
    color: #707070;
    font-size: 30px;
    text-align: center;

    
}

.tk3{
    border-radius: 5px;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    background-color: #FAFAFA;
    padding: 44px 25px;
    color: #707070;
    font-size: 30px;
    text-align: center;
    
}

.tk4{
    border-radius: 5px;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    background-color: #FAFAFA;
    padding: 44px 25px;
    color: #707070;
    font-size: 30px;
    text-align: center;

    
}

.tk5{
    border-radius: 5px;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 50px;
    background-color: #FAFAFA;
    padding: 44px 25px;
    color: #707070;
    font-size: 30px;
    text-align: center;

    
}

.other-tk{
    margin-top: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #180f0f;
    position: absolute;
    margin-left: 45%;
    


}

.btn2{
    margin-top: 300px;
    margin-left: 45%;

    
}

.donet-title1{
    text-align: center;
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    margin-bottom: 20px;
    margin-top: -120px;


    
}


.donet-dis1{

    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}

.donet-today1{
    font-weight: 800;
    font-size: 35px;
    


}

.food{
    background-color:rgba(79, 157, 166, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 200px;
    
}

.food2{
    background-color: rgba(255, 89, 89, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 200px;


}

.food3{
    background-color: #8a52f341;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 200px;


}


.service{
    margin-left: 18%;
    display: flex;
    gap:50px;
    
   
}

.foot-title{
   font-style: none;
    color: #121212;

    font-weight: 600;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}


.food-des{
    font-size: 16px;
    font-weight: 400;


}


.live-donet-div{
    display: flex;
    margin-left: 155px;


}

.live-donet{
    font-weight: 700;
    font-size: 45px;
    margin-left: 80px;
 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;


}

.live-donet2{
  
    background-image: url('../images/15.jpg');
    width: 340px;
    height: 400px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 45%;
    margin-top: 15px;
    
}

.live-des{
    color: rgba(112, 112, 112, 1);
    margin-bottom: 20px;
    margin-left: 80px;



}

.btn3{
    width: 200px;
    height: 56px;
    background-color: #FF5959;
    border: none;
    font-size: 20px;
    color: white;
    margin-bottom: 175px;
    border-radius: 5px;
    margin-left: 80px;

}




.live-donet{
    font-weight: 700;
    font-size: 45px;
    margin-left: 80px;
 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
/* Second live donet */




.image{
    background-image: url('../images/donation1.jpg');
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 18%;
    
}


.botom-title{
    text-align: left;
}
.botom-title h1{
    font-weight: 700;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 56%;
    margin-bottom: 20px;
}

.botom-title p{
    color: rgba(112, 112, 112, 1);
    padding-left: 52%;

    margin-left: 60px;


}

.btn4{
    width: 200px;
    height: 56px;
    background-color: #FF5959;
    border: none;
    font-size: 20px;
    color: white;
    margin-bottom: 175px;
    border-radius: 5px;
    margin-left: 57%;
    margin-top: 2%;

}

.down{
    margin-top: -2%;
    text-align: center;
}

.down h1{
    font-weight: 700;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.down p{
    color: rgba(112, 112, 112, 1);
    margin-bottom: 20px;


}


.sub{
    height: 150px;
    width: 600px;
    background-color:#FFF4D6 ;
    margin-left: 25%;
    
}

.sub input{
    margin-top: 80px;
    margin-left: 30%;
    font-weight: 700;

}

.sub button{
    margin-right:25%;
    background-color: #FF5959;
    border: 0;
}

footer{
    text-align: center;
    height: 150px;
    width: 100%;
    background-color: #121212;
}

footer h3{
    color: #FF5959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding-top: 50px;
}

footer h6{
    color: white;

}